<h1>Welcome to our E-commerce Store</h1>
<p>Have a look around :)<p>

<div class="row">
    <% @products.each do |product| %>
      <%= render :partial => 'product_modal', :collection => @products, :as => :product %>
    <% end %>
</div>

