<h1>All <%= @category.name %></h1>

<div class="row">
    <% @products_by_cat.each do |product| %>
      <%= render :partial => 'product_modal', :collection => @products_by_cat, :as => :product %>
    <% end %>
</div>

