<h1>All <%= @brand_name %> Products</h1>

<div class="row">
    <% @products_by_brand.each do |product| %>
      <%= render :partial => 'product_modal', :collection => @products_by_brand, :as => :product %>
    <% end %>
</div>

