<h1>Editing Category</h1><!-- page heading -->

<%= render 'form', category: @category %><!-- displays _form.html.erb -->

<%= link_to 'Show', @category %> |<!-- provides link to @category show action -->
<%= link_to 'Back', categories_path %><!-- provides link to categories page -->
