<p id="notice"><%= notice %></p><!-- displays notice -->

<p><!-- displays category name -->
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |<!-- link to category edit action -->
<%= link_to 'Back', categories_path %><!-- link to categories page -->
