<h1>Editing Product</h1><!-- page heading -->

<%= render 'form', product: @product %><!-- displays _form.html.erb for @product -->

<%= link_to 'Show', @product %> |<!-- provides link to show page for @ product. | is for styling with back button -->
<%= link_to 'Back', products_path %><!-- provides a back button that links to the products page -->
